html {
    height: 100%;
    background-color: #ffd54f;
}

.content {
  margin: auto;
  width: fit-content;
}

#canvas {
  display: none;
}

.container {
  display: grid;
  width: fit-content;
  padding: 10px;
  background-color: black;
  margin: 10px 0;
}

.camera, .output {
  grid-area: 1 / 1;
}

#frameList {
  padding: 10px 0;
}

#frameList canvas {
  width: 62px;
  padding: 1px
}

#frameList canvas.selected {
  background-color: red;
}