:root {
  --main-bg-color: #fde24f;
  --content-bg-color: #f4f4f4;
  --content-shadow-color: #0000003f;
  --button-bg-color: #fde24f;
  --button-bg-color-disabled: #e5e5e5;
  --button-bg-color-hover: #edc64b;
  --button-fg-color: #ffffff;
  --frame-color-selected: #ff6d91;
  --frame-color-hover: #edc64b;
  --progress-bar-bg-color: #f1f1f1;
  --progress-bar-fg-color: #87cefa;
  --input-controls-bg-color: #0000001f;
}

html {
  height: 100%;
  background: var(--main-bg-color);
  font-family: "system-ui", sans-serif;
  user-select: none;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg-color);
  width: 100%;
  height: 100%;
}

.content {
  width: fit-content;
  background: var(--content-bg-color);
  box-shadow: 10px 10px var(--content-shadow-color);
  padding: 20px;
  border-radius: 10px;
}

.content .hidden {
  display: none;
}

.container {
  display: grid;
  width: fit-content;
  margin: 10px 0;
}

.input,
.output {
  position: relative;
  grid-area: 1 / 1;
}

#lastFrame {
  width: 640px;
  height: 480px;
}

/* Input Controls */

.input-controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 10px;
  background: var(--input-controls-bg-color);
  border-radius: 5px;
}

.input .btn {
  cursor: pointer;
  border: none;
  font-size: 28px;
  color: var(--button-fg-color);
  background: none;
}

.input .btn:hover {
  color: var(--button-bg-color);
}

/* Controls */

#controls {
  text-align: center;
  padding: 10px;
}

#controls .btn {
  background: var(--button-bg-color);
  color: var(--button-fg-color);
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 10px;
  font-size: 36px;
  cursor: pointer;
  text-align: center;
  margin: 0 5px;
}

#controls .btn:disabled {
  background: var(--button-bg-color-disabled);
  cursor: default;
}

#controls .btn:hover:enabled {
  background: var(--button-bg-color-hover);
}

#controls .left {
  float: left;
}

#controls .right {
  float: right;
}

/* Frame List */

#frameList {
  padding: 10px 0;
}

#frameList canvas {
  cursor: pointer;
  width: 62px;
  margin: 0 1px;
  border-bottom: solid 5px #00000000;
}

#frameList canvas:hover {
  opacity: 0.5;
  border-bottom: solid 5px var(--frame-color-hover);
}

#frameList canvas.selected {
  border-bottom: solid 5px var(--frame-color-selected);
}

/* Download Page */

#downloadScreen {
  display: none;
}

#downloadScreen .btn {
  color: var(--content-bg-color);
  border: none;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  width: 36px;
  background: var(--button-bg-color);
}

#downloadScreen .btn:hover {
  background: var(--button-bg-color-hover);
}

#downloadScreen .btn:disabled {
  background: var(--button-bg-color-disabled);
  cursor: default;
}

#progressBar {
  width: 100%;
  height: 20px;
  background: var(--progress-bar-bg-color);
}

#progress {
  width: 0%;
  height: 100%;
  background-color: var(--progress-bar-fg-color);
}
