html {
    height: 100%;
    background-color: #fde24f;
    font-family: "system-ui", sans-serif;
}

.content {
  margin: auto;
  width: fit-content;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px #a48933;
}

.container {
  display: grid;
  width: fit-content;
  margin: 10px 0;
}

.camera, .output {
  grid-area: 1 / 1;
}

#lastFrame {
  width: 640px;
  height: 480px;
}

.btn.switch-camera {
  cursor: pointer;
  border: none;
  font-size: 36px;
  position: absolute;
  color: white;
  text-shadow: 0 0 1px black;
  padding: 15px 15px;
  background: none;
}

.btn.switch-camera:hover {
  color: #fde24f;
}

/* Controls */

#controls {
  text-align: center;
  padding: 10px 0;
}

#controls .btn {
  background: #fde24f;
  color: white;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 10px;
  font-size: 36px;
  cursor: pointer;
  text-align: center;
  margin: 0 5px;
}

#controls .btn:disabled {
  background-color: #e5e5e5;
}

#controls .btn:hover:enabled {
  background-color: #edc64b;
}

#frameList {
  padding: 10px 0;
}

#frameList canvas {
  cursor: pointer;
  width: 62px;
  margin: 0 1px;
  border-bottom: solid 5px white;
}

#frameList canvas:hover {
  opacity: 0.5;
  border-bottom: solid 5px #edc64b;
}

#frameList canvas.selected {
  border-bottom: solid 5px #ff6d91;
}

#downloadModal {
  position: absolute;
  top: 0;
  left: 0;
  background: #fde24f;
  width: 100%;
  height: 100%;
  display: none;
}

#downloadModal .btn {
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  width: 36px;
  background: #2cb67d;
}

#downloadModal .btn:hover {
  background: #229062;
}

#downloadModal .btn:disabled {
  background-color: #e5e5e5;
}

.progress-bar {
  text-align: center;
}

#progress {
  font-size: 600%;
}